In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Hank Williams,A Stranger In The Night,"Key of d \r\n(d) I'm lonesome for someone, to..."
1,Bryan White,Winter Wonderland,"Sleigh bells ring, are you listenin'? \r\nIn ..."
2,Pearl Jam,Army Reserve,How long must she stand \r\nBefore the ground...
3,Lionel Richie,You Mean More To Me,"You mean more to me, \r\nThan words can ever ..."
4,Justin Bieber,What Does She Want,Why does she even obsess about her life with m...
5,Celine Dion,A New Day Has Come,I was waiting for so long \r\nFor a miracle t...
6,Linkin Park,In My Remains,"Separate, sifting through the wreckage \r\nI ..."
7,Judas Priest,Riding On The Wind,Shooting for the stars \r\nCruise the speed o...
8,David Bowie,Baby Grace,"Test, testing, testing \r\nThis, hmmm, Grace ..."
9,Kiss,God Gave Rock 'n' Roll To You,"God gave rock and roll to you, gave rock and r..."

In [10]:
df['text'][0]

"Key of d  \r\n(d) I'm lonesome for someone, to (g) kiss me good - (d) night,  \r\nJust the way you used to (a7) do,  \r\nMy (d) achin heart needs someone, to (g) shine loves (d) light,  \r\nFor without you, Ill (a7) always be (d) blue.  \r\n  \r\n1st chorus  \r\n(d) if I (g) don't have you, to (d) help me along,  \r\nI (g) know I can never go (d) right,  \r\nWith - (g) out you beside me, to (d) show me the way,  \r\nI'm lost, like a (a7) stranger in the (d) night.  \r\n  \r\nLike a lonely dove that flies, from pine to pine,  \r\nMy heart can't be gay and light,  \r\nLike sightless eyes, that will never see the sun,  \r\nI'm lost, like a stranger in the night.  \r\n  \r\n2nd chorus  \r\nTheres no need for me, to even try,  \r\nNothin will turn out right,  \r\nWhen I lost your love, I lost the will to live,  \r\nAnd I'm lost, like a stranger in the night  \r\n  \r\n3rd chorus  \r\nLike a broken heart, that's lost on lifes sea,  \r\nTho I pray with all my might,  \r\nI know I can't face, to - morrow alone,  \r\nAnd I'm lost, like a stranger in the night.\r\n\r\n"

In [11]:
df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [14]:
df.tail(5)

,artist,song,text
2047,Bob Marley,Dreamland,there's a land that i have heard about \r \...
3274,Whitney Houston,Nothin' But Love,here i sit by my window thinking about all the...
3715,Leann Rimes,For The First Time,up and down the stairs \r in and out the door...
2618,Iron Maiden,Journeyman,from the red sky of the east \r to the sunset...
594,Don Moen,All We Like Sheep,all we like sheep \r have gone astray \r eac...

In [16]:
import nltk
nltk.download('punkt_tab')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

In [17]:
stemmer = PorterStemmer()

In [18]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [19]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [23]:
similarity[0]

array([1.        , 0.02478183, 0.00538512, ..., 0.        , 0.00184281,
       0.0071942 ], shape=(5000,))

In [24]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [31]:
def recommendation(song_df):
    # Check if the song exists in the dataset
    if song_df not in df['song'].values:
        return f"'{song_df}' not found in the song dataset. Please check the spelling or try another song."
    
    # Get the index of the song
    idx = df[df['song'] == song_df].index[0]
    
    # Calculate similarity and sort distances
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])

    # Collect recommendations
    songs = []
    for m_id in distances[1:21]:  # Skip the first entry (itself)
        songs.append(df.iloc[m_id[0]].song)

    return songs

In [33]:
print(recommendation('All We Like Sheep'))

['Angel', 'Send Me An Angel', 'Angel Eyes', 'Seeing You Again', 'Angels Cry', 'Have A Heart', 'We Still Have Dreams', "Ain't No Angels", 'It Came Upon A Midnight Clear', 'Devil In Her Heart', 'Queen Of The Night', 'Holy Spirit', 'Devil In Disguise', 'Heart Trouble', 'Show Me How To Love You', "I'm In Love With Love", 'Touch', 'Cold And Empty', 'Lullaby', 'Across The Bridge Where Angels Dwell']

In [34]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))